
exit all
configure
#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name "{{ node.system_name }}"
        location "{{ common.system_location }}"
        snmp
        exit
        time
            ntp
                ntp-server authenticate
                authentication-key 1 key "jGMhBuQER8Dr7anav1mmM.pNrcHladIi" hash2 type message-digest
                server {{ common.ntp_server_1 }} prefer
                server {{ common.ntp_server_2 }}
                no shutdown
            exit
            sntp
                shutdown
            exit
            zone {{ common.time_zone }} 
        exit
        thresholds
            rmon
            exit
        exit
    exit
#--------------------------------------------------
echo "System Security Configuration"
#--------------------------------------------------
    system
        security
            management-access-filter
                ip-filter
                    shutdown
                    default-action permit
                    entry 30
                        description "DROP-DHCP"
                        protocol udp
                        dst-port 67 65535
                        action deny
                    exit
                    entry 40
                        description "DROP-DHCP"
                        protocol udp
                        dst-port 68 65535
                        action deny
                    exit
                    entry 50
                        description "DROP-TFTP"
                        protocol udp
                        dst-port 69 65535
                        action deny
                    exit
                    entry 70
                        description "N.A."
                        protocol udp
                        dst-port 49152 65535
                        action deny
                    exit
                    entry 80
                        description "DROP-FTP"
                        protocol tcp
                        dst-port 21 65535
                        action deny
                    exit
                    entry 110
                        description "DROP-GSMP"
                        protocol tcp
                        dst-port 6068 65535
                        action deny
                    exit
                    entry 140
                        description "DROP-AP"
                        protocol tcp
                        dst-port 47806 65535
                        action deny
                    exit
                    no shutdown
                exit
            exit
            profile "backup"
                default-action deny-all
                entry 10
                    match "bof save"
                    action permit
                exit
                entry 20
                    match "admin save"
                    action permit
                exit
                entry 30
                    match "file dir"
                    action permit
                exit
            exit
            user "admin"
                password "RRiH91cIQshziUHObbYE0J45Y82dz6ZU" hash2
                access console 
                console
                    member "administrative"
                exit
            exit
            user "backup"
                password "Q8EmXHDi1Ar2ISC9oHbLdxR1IGQrzQJL" hash2
                access console        
                console
                    member "default"
                    member "backup"
                exit
            exit
            snmp
                community "J1del8WiarujyKUlVOkBDU" hash2 r version v2c
            exit
            ssh
                preserve-key
            exit
            tls-profile "vsc-tls-profile" create
                own-key "cf1:\{{ node.system_name }}-Key.pem"
                own-certificate "cf1:\{{ node.system_name }}Cert.pem"
                ca-certificate "cf1:\{{ node.system_name }}-CA.pem"
                no shutdown
            exit
        exit
    exit
#--------------------------------------------------
echo "System Login Control Configuration"
#--------------------------------------------------
    system
        login-control
            pre-login-message "* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\n*                     THIS IS A PRIVATE NETWORK NODE                *\n*                                                                   *\n*    UNAUTHORISED ACCESS OF THIS NODE IS AN OFFENCE PURSUANT        *\n*                 TO THE COMPUTER MISUSE ACT 1990                   *\n*                                                                   *\n*   If you are not authorised to continue, disconnect your secure   *\n*                    remote session immediately.                    *\n*                                                                   *\n*       Only if you are authorised to continue should you do so.    *\n*                          You are being logged!                    *\n* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *"
        exit
    exit
#--------------------------------------------------
echo "Log Configuration"
#--------------------------------------------------
    log
        syslog 5
            description "{{ common.syslog_name_1 }}"
            address {{ common.syslog_vip_1 }}
            log-prefix "{{ node.system_name }}"
            port 5555
        exit
        syslog 6
            description "{{ common.syslog_name_2 }}"
            address {{ common.syslog_vip_2 }}
            log-prefix "{{ node.system_name }}"
            port 5555
        exit
        snmp-trap-group 88
            description "Zabbix"
            trap-target "{{ common.zabbix_name }}" address {{ common.zabbix_vip }} snmpv2c notify-community "t3lc0MMunity"
        exit
        log-id 5
            description "{{ common.syslog_name_1 }}"
            time-format local
            from main security
            to syslog 5
        exit
        log-id 6
            description "{{ common.syslog_name_2 }}"
            time-format local
            from main security
            to syslog 6
        exit
        log-id 88
            description "Zabbix"
            from main security change
            to snmp 1024
        exit
    exit 
#--------------------------------------------------
echo "System Security Cpm Hw Filters and PKI Configuration"
#--------------------------------------------------
    system
        security
        exit
    exit
#--------------------------------------------------
echo "QoS Policy Configuration"
#--------------------------------------------------
    qos
    exit
#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
    service
    exit
#--------------------------------------------------
echo "LAG Configuration"
#--------------------------------------------------
    lag 98
        description "Multichassis interconnect LAG"
        encap-type dot1q
        qos
        exit
        lacp active administrative-key 36864 
        no shutdown
    exit
#--------------------------------------------------
echo "Management Router Configuration"
#--------------------------------------------------
    router management
    exit

#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router 
        interface "control"
            shutdown
        exit
        interface "system"
            address {{ node.system_ip }}/32
            no shutdown
        exit
        interface "to_VNS_EVPN_CTL"
            address {{ node.vns_evpn_ctl_ip }}/{{ common.vns_evpn_ctl_ip_prefix }}
            port A/2:{{ common.vns_evpn_ctl_vlan }}
            no shutdown
        exit
        vxlan
        exit
        autonomous-system {{ common.asn }}
        router-id {{ node.system_ip }}
#--------------------------------------------------
echo "Static Route Configuration"
#--------------------------------------------------
        static-route 0.0.0.0/0 next-hop {{ common.vns_evpn_ctl_gateway }}
#--------------------------------------------------
echo "Web Portal Protocol Configuration"
#--------------------------------------------------
    exit

#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
    service
        customer 1 create
            description "Default customer"
        exit
	{%- if 'wan' in node.system_name %}
        vprn 1 customer 1 create
            interface "to_VNS_INET_CTL" create
            exit
        exit
        vprn 1 customer 1 create
            description "VNS-INET-CTL"
            autonomous-system {{ common.asn }}
            route-distinguisher {{ common.asn }}:{{ common.vns_inet_ctl_vlan }}
            interface "to_VNS_INET_CTL" create
                address {{ node.vns_inet_ctl_ip }}/{{ common.vns_inet_ctl_ip_prefix }}
                sap A/2:{{ common.vns_inet_ctl_vlan }} create
                exit
            exit
            static-route 0.0.0.0/0 next-hop {{ common.vns_inet_ctl_gateway }}
            no shutdown
        exit
	{%- endif %}
        {%- if 'gost' in node.system_name %}
        vprn 1 customer 1 create
            interface "to_VNS_GOST_CTL" create
            exit
        exit
        vprn 1 customer 1 create
            description "VNS-GOST-CTL"
            autonomous-system {{ common.asn }}
            route-distinguisher {{ common.asn }}:{{ common.vns_gost_ctl_vlan }}
            interface "to_VNS_GOST_CTL" create
                address {{ node.vns_gost_ctl_ip }}/{{ common.vns_gost_ctl_ip_prefix }}
                sap A/2:{{ common.vns_gost_ctl_vlan }} create
                exit
            exit
            static-route 0.0.0.0/0 next-hop {{ common.vns_gost_ctl_gateway }}
            no shutdown
        exit
        {%- endif %}
    exit
#--------------------------------------------------
echo "Router (Service Side) Configuration"
#--------------------------------------------------
    router 
#--------------------------------------------------
echo "BGP Configuration"
#--------------------------------------------------
        bgp
            family evpn
            graceful-restart
            exit
            min-route-advertisement 1
            rapid-withdrawal
            rapid-update evpn
            group "vRR"
                family evpn
                type internal
                peer-as {{ common.asn }}
                local-address {{ node.vns_evpn_ctl_ip }}
                neighbor {{ common.rr_1 }}
                    multihop 2
                exit
                neighbor {{ common.rr_2 }}
                    multihop 2
                exit
            exit
            no shutdown
        exit
    exit

#--------------------------------------------------
echo "System Time NTP Configuration"
#--------------------------------------------------
    system
        time
            ntp
            exit
        exit
    exit
#--------------------------------------------------
echo "Virtual Switch Controller Configuration"
#--------------------------------------------------
    vswitch-controller
        xmpp-server "{{ node.system_name }}@{{ common.vsd_fqdn_global }}"
        open-flow
            tls-profile "vsc-tls-profile"
        exit
        xmpp
            tls-profile "vsc-tls-profile"
        exit
        ovsdb
        exit
    exit

exit all

