exit all
configure
#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name "{{ node.system_name }}"
        location "{{ common.system_location }}"
        time
            ntp
                no shutdown
            exit
            sntp
                shutdown
            exit
        exit
    exit
#--------------------------------------------------
echo "System Security Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "System Login Control Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "Log Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "Filter Log Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
    card 1
        card-type xcm-1s
        mda 1
            mda-type s18-100gb-qsfp28
            no shutdown
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Connector Configuration"
#--------------------------------------------------
    port 1/1/c1
        shutdown
        connector
            breakout c1-10g
        exit
        no shutdown
        exit
    port 1/1/c2
        shutdown
        connector
            breakout c1-10g
        exit
        no shutdown
        exit
    port 1/1/c3
        shutdown
        connector
            breakout c1-10g
        exit
        no shutdown
        exit
    port 1/1/c4 
        shutdown
        connector
            breakout c1-10g
        exit
        no shutdown
        exit
#--------------------------------------------------
echo "Port Configuration"
#--------------------------------------------------
    port 1/1/c1/1
        shutdown
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
        exit
    port 1/1/c2/1
        shutdown
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
        exit
    port 1/1/c3/1
        shutdown
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
        exit
    port 1/1/c4/1
        shutdown
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
        exit
#--------------------------------------------------
echo "Management Router Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router Base
        interface "system"
            address {{ node.system_ip }}/32
            icmp
                no mask-reply
                no redirects
                no unreachables
            exit
            no shutdown
        exit
        autonomous-system {{ common.asn }}
#--------------------------------------------------
echo "Static Route Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "Router (Service Side) Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "Policy Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "BGP Configuration"
#--------------------------------------------------
#--------------------------------------------------
echo "System Time NTP Configuration"
#--------------------------------------------------

exit all